html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
    background: #fff8c5;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

/*Header styles*/
.header-link {
    text-decoration: none;
}
/*Header styles end*/
