/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-900.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a:visited,
a:link,
a:hover,
a:active {
    text-decoration: none;
    color: #000000;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'lato';
    font-style: normal;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: bold;
    background: #fff8c5;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 100%;
    max-height: 50%;
    margin: 0 auto;
    position: static;
}


/*Main Header styles*/
.header {
    width: 100%;
    padding-top: 56px;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
    opacity: .75;

}

/*Main Header styles end*/


/*Main styles*/

.main__mem {
    transition: 2s, color 1s;
}

.img__mem {
    max-height: auto;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

.mem__card {
    position: static;
    border-bottom: 3px solid transparent;
}

.mem__card:hover .mems-text,
.mem__card:focus .mems-text {
    color: black;
    background-color: rgb(105, 78, 78);
}

.hidden__img {
    display: none;
    cursor: grab;
}
.active {
    display: block;
}

a.mem-name:hover+div,
a.mem-name:focus+div,
a.mem-name:active+div {
    display: block;
}

/*Main styles end*/


/*Media styles end*/

@media (max-width: 1200px) {
    body {
        font-size: 1.8rem;
    }

    .main-container {
        min-height: 70%;
        min-width: 70%;
        transform: translate(-2rem, 1rem);
    }
}

@media (max-width:820px) {
    body {
        font-size: 1.5rem;
    }

    .main__mems {
        min-height: 80%;
        min-width: 80%;

    }
}

@media (max-width: 320px) {
    body {
        font-size: 0.7rem;
    }

    .main__mems {
        min-height: 70%;
        min-width: 70%;
        flex-wrap: wrap;
    }

    a.mem-name:hover+div,
    a.mem-name:focus+div,
    a.mem-name:active+div {
        display: block;
        max-width: 70%;
    }
}